# Api key to be able to make the calls to retrieve the articles, this will need to be requested by the appropriate instance
elsevier-sciencedirect.api.key = ${elsevier.api.key}

# This represents the base url to use for the retrieval of an article
elsevier-sciencedirect.api.article.url=http://api.elsevier.com/content/article
# The base of rest endpoints to represent identifiers and entitlement status associated with requested full text articles
elsevier-sciencedirect.api.entitlement.url=http://api.elsevier.com/content/article/entitlement
# The search interfaces associated with ScienceDirect
elsevier-sciencedirect.api.scidir.url=http://api.elsevier.com/content/search/scidir
# The search interfaces associated with pubmed
elsevier-sciencedirect.api.pubmed.url=https://eutils.ncbi.nlm.nih.gov/entrez/eutils/
# The search interfaces associated with Scopus
elsevier-sciencedirect.api.scopus.url=http://api.elsevier.com/content/search/scopus
# The scopus search view. The view can be either STANDARD or COMPLETE.
elsevier-sciencedirect.api.scopus.view = STANDARD
# Url to base later rest calls on, such as retrieval based on PII etc
elsevier-sciencedirect.ui.article.url=http://www.sciencedirect.com/science/article
# Check statuses associated with the requested articles
elsevier-sciencedirect.entitlement.check.enabled=true

# Identifiers used to perform the entitlements API retrieval and embed page retrieval.
elsevier-sciencedirect.metadata.field.pii = elsevier.identifier.pii
elsevier-sciencedirect.metadata.field.doi = elsevier.identifier.doi
elsevier-sciencedirect.metadata.field.eid = elsevier.identifier.eid
elsevier-sciencedirect.metadata.field.scopus_id = elsevier.identifier.scopusid
elsevier-sciencedirect.metadata.field.pubmed_id = elsevier.identifier.pubmedid

# Whether or not to embed the display + its respective width and height
elsevier-sciencedirect.embed.display=false
elsevier-sciencedirect.embed.display.width=700
elsevier-sciencedirect.embed.display.height=500

# Define if the link to the embed display should be rendered above (top) or under (bottom) the file section on the item page.
# Only supported by theme Mirage
elsevier-sciencedirect.embed.link.position = top